server:
  port: 8083
  servlet:
    context-path: /api
    encoding:
      charset: UTF-8
      enabled: true
      force: true
  forward-headers-strategy: framework
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.web: DEBUG
    org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping: DEBUG

spring:
  config:
    import:
      - optional:classpath:secret/db.yml
      - optional:classpath:secret/jwt.yml
      - optional:classpath:secret/redis.yml
      - optional:classpath:secret/application-oauth.yml
      - optional:classpath:secret/google-email.yml
  application:
    name: medinote

  web:
    resources:
      static-locations: classpath:/static/
      
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.MariaDBDialect
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss   # 날짜 포맷
    time-zone: Asia/Seoul             # 타임존
    serialization:
      write-dates-as-timestamps: false # 숫자 timestamp 대신 문자열로 출력

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://${DB_HOST}:${DB_PORT}/${DB_NAME}
    username: ${DB_USER}
    password: ${DB_PASSWORD}

  data:
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}

  mail:
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
          connectiontimeout: 5000
          timeout: 5000
          writetimeout: 5000

  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope: ${GOOGLE_SCOPE}
            redirect-uri: ${GOOGLE_REDIRECT_URI}
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
        provider:
          google:
            authorization-uri: ${GOOGLE_AUTH_URI}
            token-uri: ${GOOGLE_TOKEN_URI}
            user-info-uri: ${GOOGLE_USER_INFO_URI}
            user-name-attribute: ${GOOGLE_USER_NAME_ATTRIBUTE}

jwt:
  secret: ${JWT_SECRET}
  access-token-expiration: ${JWT_ACCESS_EXPIRATION}
  refresh-token-expiration: ${JWT_REFRESH_EXPIRATION}
